[package]
name = "kernel"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
bootloader = "0.10"
volatile = "0.4"
x86_64 = "0.14"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
